@import "tailwindcss";

/* 1. Basecoat Core (Required) */
@import "@lanrenbang/basecoat-ultra";

/* 2. External Components (Optional) */
@import "@lanrenbang/basecoat-ultra/datepicker.css";
@import "@lanrenbang/basecoat-ultra/resizable.css";

/* 3. Theme (Optional) */
@import "@lanrenbang/basecoat-ultra/theme/catppuccin";