:root {
  /* latte */
  --ctp-latte-rosewater: oklch(0.714 0.105 33.10);
  --ctp-latte-flamingo: oklch(0.686 0.126 20.87);
  --ctp-latte-pink: oklch(0.726 0.174 338.43);
  --ctp-latte-mauve: oklch(0.555 0.250 297.02);
  --ctp-latte-red: oklch(0.550 0.216 19.81);
  --ctp-latte-maroon: oklch(0.625 0.197 20.27);
  --ctp-latte-peach: oklch(0.692 0.204 42.43);
  --ctp-latte-yellow: oklch(0.714 0.149 67.78);
  --ctp-latte-green: oklch(0.625 0.177 140.44);
  --ctp-latte-teal: oklch(0.602 0.098 201.10);
  --ctp-latte-sky: oklch(0.682 0.145 235.38);
  --ctp-latte-sapphire: oklch(0.648 0.107 212.89);
  --ctp-latte-blue: oklch(0.559 0.226 262.09);
  --ctp-latte-lavender: oklch(0.664 0.175 273.13);
  --ctp-latte-text: oklch(0.435 0.043 279.33);
  --ctp-latte-subtext1: oklch(0.492 0.038 279.30);
  --ctp-latte-subtext0: oklch(0.547 0.034 279.08);
  --ctp-latte-overlay2: oklch(0.601 0.030 278.69);
  --ctp-latte-overlay1: oklch(0.654 0.027 278.12);
  --ctp-latte-overlay0: oklch(0.708 0.024 274.60);
  --ctp-latte-surface2: oklch(0.758 0.020 273.15);
  --ctp-latte-surface1: oklch(0.808 0.017 271.20);
  --ctp-latte-surface0: oklch(0.857 0.014 268.48);
  --ctp-latte-base: oklch(0.958 0.006 264.53);
  --ctp-latte-mantle: oklch(0.933 0.009 264.52);
  --ctp-latte-crust: oklch(0.906 0.012 264.51);

  /* frappe */
  --ctp-frappe-rosewater: oklch(0.895 0.034 31.60);
  --ctp-frappe-flamingo: oklch(0.844 0.055 18.31);
  --ctp-frappe-pink: oklch(0.850 0.089 336.26);
  --ctp-frappe-mauve: oklch(0.765 0.111 311.74);
  --ctp-frappe-red: oklch(0.717 0.124 19.39);
  --ctp-frappe-maroon: oklch(0.765 0.098 17.18);
  --ctp-frappe-peach: oklch(0.773 0.111 47.73);
  --ctp-frappe-yellow: oklch(0.844 0.080 83.47);
  --ctp-frappe-green: oklch(0.812 0.107 133.39);
  --ctp-frappe-teal: oklch(0.783 0.073 184.64);
  --ctp-frappe-sky: oklch(0.826 0.059 209.76);
  --ctp-frappe-sapphire: oklch(0.780 0.073 227.88);
  --ctp-frappe-blue: oklch(0.742 0.104 265.66);
  --ctp-frappe-lavender: oklch(0.810 0.076 283.74);
  --ctp-frappe-text: oklch(0.862 0.053 273.35);
  --ctp-frappe-subtext1: oklch(0.808 0.051 272.68);
  --ctp-frappe-subtext0: oklch(0.752 0.048 274.47);
  --ctp-frappe-overlay2: oklch(0.697 0.046 273.78);
  --ctp-frappe-overlay1: oklch(0.640 0.043 272.61);
  --ctp-frappe-overlay0: oklch(0.581 0.042 275.20);
  --ctp-frappe-surface2: oklch(0.521 0.039 274.00);
  --ctp-frappe-surface1: oklch(0.460 0.037 272.97);
  --ctp-frappe-surface0: oklch(0.395 0.034 275.90);
  --ctp-frappe-base: oklch(0.329 0.032 274.76);
  --ctp-frappe-mantle: oklch(0.297 0.029 276.21);
  --ctp-frappe-crust: oklch(0.272 0.026 275.12);

  /* macchiato */
  --ctp-macchiato-rosewater: oklch(0.911 0.029 31.13);
  --ctp-macchiato-flamingo: oklch(0.863 0.048 18.12);
  --ctp-macchiato-pink: oklch(0.861 0.083 336.18);
  --ctp-macchiato-mauve: oklch(0.772 0.126 303.90);
  --ctp-macchiato-red: oklch(0.737 0.125 11.19);
  --ctp-macchiato-maroon: oklch(0.770 0.102 14.37);
  --ctp-macchiato-peach: oklch(0.799 0.106 49.64);
  --ctp-macchiato-yellow: oklch(0.879 0.074 84.75);
  --ctp-macchiato-green: oklch(0.835 0.108 138.15);
  --ctp-macchiato-teal: oklch(0.821 0.076 184.10);
  --ctp-macchiato-sky: oklch(0.837 0.072 209.37);
  --ctp-macchiato-sapphire: oklch(0.785 0.085 228.38);
  --ctp-macchiato-blue: oklch(0.750 0.110 263.81);
  --ctp-macchiato-lavender: oklch(0.814 0.083 279.85);
  --ctp-macchiato-text: oklch(0.871 0.048 273.67);
  --ctp-macchiato-subtext1: oklch(0.812 0.046 274.27);
  --ctp-macchiato-subtext0: oklch(0.751 0.044 273.53);
  --ctp-macchiato-overlay2: oklch(0.690 0.043 274.54);
  --ctp-macchiato-overlay1: oklch(0.627 0.041 273.73);
  --ctp-macchiato-overlay0: oklch(0.561 0.041 276.47);
  --ctp-macchiato-surface2: oklch(0.494 0.039 275.68);
  --ctp-macchiato-surface1: oklch(0.426 0.039 276.95);
  --ctp-macchiato-surface0: oklch(0.354 0.037 275.99);
  --ctp-macchiato-base: oklch(0.279 0.035 276.94);
  --ctp-macchiato-mantle: oklch(0.249 0.030 278.44);
  --ctp-macchiato-crust: oklch(0.219 0.025 280.66);

  /* mocha */
  --ctp-mocha-rosewater: oklch(0.923 0.024 30.49);
  --ctp-mocha-flamingo: oklch(0.880 0.042 17.98);
  --ctp-mocha-pink: oklch(0.870 0.075 336.30);
  --ctp-mocha-mauve: oklch(0.787 0.119 304.77);
  --ctp-mocha-red: oklch(0.756 0.130 2.76);
  --ctp-mocha-maroon: oklch(0.782 0.090 8.85);
  --ctp-mocha-peach: oklch(0.824 0.101 52.63);
  --ctp-mocha-yellow: oklch(0.919 0.070 86.53);
  --ctp-mocha-green: oklch(0.858 0.109 142.72);
  --ctp-mocha-teal: oklch(0.858 0.079 182.75);
  --ctp-mocha-sky: oklch(0.847 0.083 210.25);
  --ctp-mocha-sapphire: oklch(0.791 0.096 228.65);
  --ctp-mocha-blue: oklch(0.766 0.111 259.88);
  --ctp-mocha-lavender: oklch(0.817 0.091 277.31);
  --ctp-mocha-text: oklch(0.879 0.043 272.28);
  --ctp-mocha-subtext1: oklch(0.817 0.040 272.86);
  --ctp-mocha-subtext0: oklch(0.751 0.040 273.93);
  --ctp-mocha-overlay2: oklch(0.687 0.037 274.73);
  --ctp-mocha-overlay1: oklch(0.618 0.037 276.00);
  --ctp-mocha-overlay0: oklch(0.550 0.034 277.10);
  --ctp-mocha-surface2: oklch(0.477 0.034 278.64);
  --ctp-mocha-surface1: oklch(0.404 0.032 280.15);
  --ctp-mocha-surface0: oklch(0.324 0.032 281.98);
  --ctp-mocha-base: oklch(0.243 0.030 283.91);
  --ctp-mocha-mantle: oklch(0.216 0.025 284.06);
  --ctp-mocha-crust: oklch(0.183 0.020 284.20);

}